<!doctype html>
<title>My Application</title>
<div class="nav-collapse collapse">
            <ul class="nav">
                <li class="active"><a href="/">Home</a></li>
                {% if g.user.is_authenticated%}
                    <li><a href="/new">New Todo</a></li>
                    <li><a href="{{ url_for('logout') }}">Logout</a></li>
                {% endif %}
                {% if not g.user.is_authenticated%}
                    <li><a href="{{ url_for('login') }}">Login</a></li>
                    <li><a href="{{ url_for('register') }}">Register</a></li>
                {% endif %}
            </ul>
</div>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
{% block body %}{% endblock %}